@{
    ViewData["Title"] = "Home Page";
}

<div class=" row p-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Submissions</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li style="list-style:none;"><a asp-action="submissions" asp-controller="submission">Your Submissions</a></li>
                    <li style="list-style:none;"><a asp-action="Index" asp-controller="submission">Submit new article</a></li>
                    <li style="list-style:none;"><a href="#">Hello</a></li>
                    <li style="list-style:none;"><a href="#">Hello</a></li>
                    <li style="list-style:none;"><a href="#">Hello</a></li>

                </ul>
            </div>
        </div>
    </div>
   
</div>

<div class="row p-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Revisions</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li style="list-style:none;"><a href="#">Articles you can review</a></li>
                    <li style="list-style:none;"><a href="#">Articles you reviewed</a></li>
                    <li style="list-style:none;"><a href="#">Hello</a></li>
                    <li style="list-style:none;"><a href="#">Hello</a></li>
                    <li style="list-style:none;"><a href="#">Hello</a></li>

                </ul>
            </div>
        </div>
    </div>
  
</div>
