
@{
    ViewData["Title"] = "Submission page";
}
@using EditorialManager.DTOs;
@using App.Core.Models
@using App.Core.Enums
@model ArticleInsDto
@*asp-action="Insert" asp-controller="submission"*@
<form asp-action="Insert" asp-controller="submission" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="selectedFile">Choose file you append (only .pdf supported)</label>
        <input type="file" asp-for="ArticleFile" class="form-control-file" id="selectedFile">
        <span asp-validation-for="ArticleFile" class="text-danger"></span>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                        Choose Article Type
                    </button>
                </h2>
            </div>

            <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Please select the article type
                    </p>
                    <div class="form-group">
                        <label for="articleType">Select Article Type</label>
                        <select class="form-control" id="articleType" name="articleTypeId">
                            @foreach (var item in (IEnumerable<ArticleType>)ViewData["types"])
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Choose Editor
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Please select the editor you would like to handle your manuscript.
                    </p>
                    <div class="form-group">
                        <label for="userId">Select Editor</label>
                        <select class="form-control" id="userId" name="editorId">
                            @foreach (var item in (IEnumerable<AppUser>)ViewData["editors"])
                            {
                                <option value="@item.Id">@item.Firstname @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>     
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Note to Editor
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">

                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Note"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>

                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <p>Do you want other authors can review your article?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioSelectYes" id="radioSelectYes">
            <label class="form-check-label" for="flexRadioDefault1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioSelectNo" id="radioSelectNo" >
            <label class="form-check-label" for="flexRadioDefault2">
               No
            </label>
        </div>
    </div>
    <div class="col-md-12 p-2">
        <button type="submit" id="formSubmit" class="btn  btn-primary">Submit</button>
    </div>

</form>



@section Scripts{
    <script>
        $("#radioSelectNo").prop("checked", true)
        //var opposes = [];
        //$("#sgsBtn").on('click', function (e) {

        //    var text = "<tr>" +
        //        "<td>" + $("#sgsFirst").val() + "</td>" +
        //        "<td>" + $("#sgsLast").val() + "</td>" +
        //        "<td>" + $("#sgsEmail").val() + "</td>" +
        //        "<td>" + "<button type='button' class='btn rowDlt btn-outline-danger'>Delete</button>" +
        //        "</td>" +
        //        "</tr>"

        //    var skill = {
        //        "name": $("#sgsFirst").val(),
        //        "surname": $("#sgsLast").val(),
        //        "email": $("#sgsEmail").val()
        //    }

        //    opposes.push(skill)
        //    var test = JSON.stringify(opposes);
        //    console.log(test)

        //    console.log(opposes)
        //    $("#sgsFirst").val("")
        //    $("#sgsLast").val("")
        //    $("#sgsEmail").val("")
        //    $("#sgsBody").append(text)
        //    DeleteRow()
        //})
        //$("#opsBtn").on('click', function (e) {
        //    console.log("hello")
        //    var text = "<tr>" +
        //        "<td>" + $("#opsFirst").val() + "</td>" +
        //        "<td>" + $("#opsLast").val() + "</td>" +
        //        "<td>" + $("#opsEmail").val() + "</td>" +
        //        "<td>" + "<button type='button' class='btn rowDlt btn-outline-danger'>Delete</button>" +
        //        "</td>" +
        //        "</tr>"
        //    $("#opsFirst").val("")
        //    $("#opsLast").val("")
        //    $("#opsEmail").val("")
        //    $("#opsBody").append(text)
        //    DeleteRow()
        //})

        //function DeleteRow() {
        //    $(".rowDlt").on('click', function (e) {
        //        $(this).closest("tr").remove();
        //    })
        //}

        //$('#formSubmit').on('click', function () {
        //    console.log(opposes);
        //    $.ajax({
        //        url: "/Submission/TableDataIns",
        //        type: "POST",
        //        data: JSON.stringify(opposes),
        //        //contentType: "application/json",
        //        error: function (e) {
        //            console.log("olmaadiddididi")
        //        },
        //        success: function (data) {
        //            alert(data);
        //        }
        //    });
        //})
        $("#radioSelectYes").on("click", function () {
            console.log("jakld")
            if (!$(this).attr("checked")) {
                $(this).prop("checked", true)
                $(this).val(true)
                $("#radioSelectNo").prop("checked", false)
            } else {
                $(this).prop("checked", false)
                $(this).val(false)
                $("#radioSelectNo").prop("checked", true)
            }

        })
        $("#radioSelectNo").on("click", function () {
            console.log("jakld false")
            if (!$(this).attr("checked")) {
                $("#radioSelectYes").prop("checked", false)
                $(this).prop("checked", true)
               
            } else {
               
                $("#radioSelectYes").prop("checked", true)
                $(this).prop("checked", false)
            }

        })
    </script>
}
